{% extends "template.html" %}
{% block conteudo %}
<a class="btn btn-primary mb-2" href="{{ url_for('novo') }}">
    Novo Jogo
</a>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Console</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for jogo in jogos %}
        <tr>
            <td>{{ jogo['nome'] | title }}</td>
            <td>{{ jogo['categoria'] }}</td>
            <td>{{ jogo['console'] }}</td>
            <td class="text-center">
                <a class="btn btn-sm btn-warning" href="{{ url_for('editar', id=jogo['_id']) }}">
                    <i class="fa fa-pencil text-white" aria-hidden="true"></i>
                </a>
                <a class="btn btn-sm btn-danger" href="{{ url_for('deletar', id=jogo['_id']) }}">
                    <i class="fa fa-trash text-white" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}